

$blue: #0076d7;
$red: #F55B5B;
$green: #45d363;

$emphasis: $blue;
$second-emphasis: $red;
$third-emphasis: $red;
$fourth-emphasis: $green;

$background: $blue;
$type: black;
$color-no: darken($red, 20%);
$color-yes: $green;
